* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-body {
  height: 100vh;
  width: 100%;
}

.chatHeader {
  justify-content: center;
  align-items: center;
  text-align: center;
}
.chatContent {
  bottom: 0;
  top: auto;
}
.welcome-page {
  height: 5vh;
  width: auto;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.welcome-page input {
  outline: none;
  border-radius: 100px;
  padding: 5px 20px;
  margin-right: 10px;
}
.welcome-page button {
  padding: 5px 20px;

  border-radius: 100px;
}

.chatBtn {
  color: #fff !important;
  font-weight: 900;
  background-color: #000 !important;
  border-radius: 100px !important;
}

.chatBtn:hover {
  color: #000 !important;
  background-color: rgb(50, 19, 226) !important;
}

/* test meet  */
