* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-body {
  height: 100vh;
  width: 100wh;
}

.welcome-page {
  height: 5vh;
  width: auto;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.welcome-page input {
  outline: none;
  border-radius: 100px;
  padding: 5px 20px;
  margin-right: 10px;
}
.welcome-page button {
  padding: 5px 20px;

  border-radius: 100px;
}
.main-meet-page {
  /* display: none; */
  padding-top: 20px;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 1px solid black;
  height: 50vh;
}
.main-meet-page button {
  margin-left: 20px;
  padding: 5px 20px;
  border-radius: 100px;
}



/* test meet  */

/* .container {
  position: relative;;
  width: 640px;
  height:520px;
  border:1px red  solid;
}
.toolbox {
  position: absolute;
  bottom: 0px;
  border:1px red  solid;
  width: 100%;
  height:50px;
  
} */

